<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login con Github</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form>
      <div class="list" ng-show="logeado=='no'">
        <label class="item">
          <button class="button button-block button-positive" ng-click="Logear()">Log in con github</button>
        </label>
      </div>
      <div class="list"  ng-show="logeado=='ok'">
        <label class="item">
          <h2>Bienvenido {{usuario}}</h2>
          <button class="button button-block button-positive" ng-click="Deslogear()">Deslogear</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
